<div class="container-fluid">
  <div class="banner">
    <img
      srcset="
        /images/landing-page/valuflex/valuflex-catagory-banner-1-xs.jpg  576w,
        /images/landing-page/valuflex/valuflex-catagory-banner-1-sm.jpg  768w,
        /images/landing-page/valuflex/valuflex-catagory-banner-1-md.jpg  992w,
        /images/landing-page/valuflex/valuflex-catagory-banner-1-lg.jpg 1200w,
        /images/landing-page/valuflex/valuflex-catagory-banner-1-xl.jpg 1920w
      "
      class="img-fluid"
      sizes="100vw"
      src="/images/landing-page/valuflex/valuflex-catagory-banner-1-xl.jpg"
      alt="Find flexible moulding"
      class="img-fluid"
    />
    <div class="top-center-container" class="container-fluid">
      <div class="light-text">
        <h1>Peace through Flexibility</h1>
        <h2>With ValuFlex</h2>
        <a href="/categories/valuflex" class="btn btn-sm btn-elandel"
          >All ValuFlex <i class="fal fa-chevron-right"></i
        ></a>
      </div>
      <!-- .light-text -->
    </div>
    <!-- .img-fluid -->
  </div>
  <!-- .banner -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row landing-text-container">
    <div class="col-xs-12 col-md-4 landing-text-box">
      <h2>Stop Thinking Straight</h2>
      <p>
        We manufacture ValuFlex on our premises to provide the highest quality
        of urethane in today's market and can be used for most interior or
        exterior profiles.
      </p>
      <!--  <a href="#">View moulding by species <i class="fal fa-chevron-right"></i></a> -->
    </div>
    <!-- .col-xs-12.col-md-4.landing-text-box -->

    <div class="col-xs-12 col-md-4 landing-text-box">
      <h2>Bend and Not Break</h2>
      <p>
        ValuFlex has a Limited 5 Year Warranty against cracking or splitting on
        interior applications. We do not recommended or warranty ValuFlex for
        exterior use. Most Flexible Moulding available with lead time averaging
        2-5 days from the date of order.
      </p>
      <!-- <a href="#">View moulding by Family Styles <i class="fal fa-chevron-right"></i></a> -->
    </div>
    <!-- .col-xs-12.col-md-4.landing-text-box -->

    <div class="col-xs-12 col-md-4 landing-text-box">
      <h2>Fine Finish & Tight Details</h2>
      <p>
        This innovative material handles and finishes like real wood and is
        engineered to resist cracking, warping, splitting, and mildewing.
        Extreme flexibility, less shrinkage and more detail make ValuFlex the
        right choice when a perfect match is a must.
      </p>
      <!--  <a href="#">View moulding <i class="fal fa-chevron-right"></i></a> -->
    </div>
    <!-- .col-xs-12.col-md-4.landing-text-box -->
  </div>
  <!-- .row.landing-text-container -->

  <div class="row">
    <div class="col-xs-12 col-md-6 banner">
      <img
        src="/images/landing-page/valuflex/valuflex-catagory-banner-2.jpg"
        class="img-fluid"
      />
      <div class="top-center-container">
        <div class="light-text light-text-half">
          <h1>Baseboard</h1>
          <h2>The turning point</h2>
          <a
            href="/categories/valuflex?&subs[]=Baseboard"
            class="btn btn-sm btn-elandel"
            >All Baseboard <i class="fal fa-chevron-right"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- .col-12.banner -->

    <div class="col-xs-12 col-md-6 banner">
      <img
        src="/images/landing-page/valuflex/valuflex-catagory-banner-3.jpg"
        class="img-fluid"
      />
      <div class="top-center-container">
        <div class="light-text light-text-half">
          <h1>Casing</h1>
          <h2>Archtop Anthology</h2>
          <a
            href="/categories/valuflex?&subs[]=Casing"
            class="btn btn-sm btn-elandel"
            >View Casing <i class="fal fa-chevron-right"></i
          ></a>
        </div>
        <!-- .light-text -->
      </div>
      <!-- .img-fluid -->
    </div>
    <!-- .col-12.banner -->
  </div>
  <!-- .row -->

  <div class="row">
    <div class="col-12 banner">
      <img
        src="/images/landing-page/valuflex/valuflex-catagory-banner-4.gif"
        class="img-fluid"
      />
      <div class="top-center-container">
        <div class="light-text light-text-half">
          <h1>Proactive Protection <br />Moisture Meets its Match</h1>
          <br />
          <p>
            Presenting ValuFlex the water resistant urethane moulding form EL&EL
            Wood Products.
          </p>
          <p>
            Solving the mystery of how to handle environments with higher than
            average moisture levels.
          </p>
          <p>
            EVERY HOUSE has a room where spills, splashes, sprays and splats are
            commonplace, Get protected.
          </p>
          <a
            href="/categories/valuflex?&subs[]=Baseboard"
            class="btn btn-sm btn-elandel"
            >View Baseboard <i class="fal fa-chevron-right"></i
          ></a>
        </div>
        <!-- .light-text -->
      </div>
      <!-- .img-fluid -->
    </div>
    <!-- .col-12.banner -->
  </div>
  <!-- .row -->

  <div class="row">
    <div class="col-xs-12 col-md-6 banner">
      <img
        src="/images/landing-page/valuflex/valuflex-catagory-banner-5.jpg"
        class="img-fluid"
      />
      <div class="top-center-container">
        <div class="light-text light-text-half">
          <h1>Crown</h1>
          <h2>Culmination of Contours</h2>
          <a
            href="/categories/valuflex?&subs[]=Crown"
            class="btn btn-sm btn-elandel"
            >View Crown <i class="fal fa-chevron-right"></i
          ></a>
        </div>
        <!-- .light-text -->
      </div>
      <!-- .img-fluid -->
    </div>
    <!-- .col-xs-12.col-md-6.banner -->

    <div class="col-xs-12 col-md-6 banner">
      <img
        src="/images/landing-page/valuflex/valuflex-catagory-banner-6.jpg"
        class="img-fluid"
      />
      <div class="top-center-container">
        <div class="light-text light-text-half">
          <h1>Chair Rail</h1>
          <h2>Conserve your Curves</h2>
          <a
            href="/categories/valuflex?&subs[]=Chair+Rail"
            class="btn btn-sm btn-elandel"
            >View Chair Rail <i class="fal fa-chevron-right"></i
          ></a>
        </div>
        <!-- .light-text -->
      </div>
      <!-- .img-fluid -->
    </div>
    <!-- .col-xs-12.col-md-6.banner -->

    <div class="col-xs-12 col-md-6 banner">
      <img
        src="/images/landing-page/valuflex/how-to-order-inset.jpg"
        class="img-fluid"
      />
      <div class="top-center-container">
        <div class="light-text light-text-half">
          <h1>How to Order</h1>
          <h2>ValuFlex</h2>
          <a href="/about/how-to-order-flex " class="btn btn-sm btn-elandel"
            >Read More <i class="fal fa-chevron-right"></i
          ></a>
        </div>
        <!-- .light-text -->
      </div>
      <!-- .img-fluid -->
    </div>
    <!-- .col-xs-12.col-md-6.banner -->

    <div class="col-xs-12 col-md-6 banner">
      <img
        src="/images/landing-page/valuflex/painting-and-staining-inset.jpg"
        class="img-fluid"
      />
      <div class="top-center-container">
        <div class="light-text light-text-half">
          <h1>Painting & Staining Guide</h1>
          <h2>to ValuFlex</h2>
          <a
            href="/about/Painting-and-staining-guide-valuflex"
            class="btn btn-sm btn-elandel"
            >Read More <i class="fal fa-chevron-right"></i
          ></a>
        </div>
        <!-- .light-text -->
      </div>
      <!-- .img-fluid -->
    </div>
    <!-- .col-xs-12.col-md-6.banner -->
  </div>
  <!-- .row -->

  <div class="row">
    <div class="col-12 banner">
      <img
        src="/images/landing-page/valuflex/valuflex-catagory-banner-7.jpg"
        class="img-fluid"
      />
      <div class="top-center-container">
        <div class="light-text">
          <h1>Tree Friendly</h1>
          <br />
          <p>
            Whether you’re adding trim to arched windows or curved walls, it’s
            easy to match any moulding profile with Valuflex™ from EL & EL. Use
            part number of desired pattern, the species and add an “F” for
            Valuflex.
          </p>
          <a href="/categories/valuflex" class="btn btn-sm btn-elandel"
            >View ValuFlex <i class="fal fa-chevron-right"></i
          ></a>
        </div>
        <!-- .light-text.light-text-half -->
      </div>
      <!-- .img-fluid -->
    </div>
    <!-- .col-12.banner -->
  </div>
  <!-- .row -->
</div>
<!-- .container -->
